<!DOCTYPE html>
<html lang=zh-cmn-Hans xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>明日方舟数据统计</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        function getData(){
            $.ajax({
                type:'get',
                dataType:'json',
                url:'/user/api/arknights-statistics/general',
                success:function (data){
                    if(data!=null){
                        $("#nickName").html(data.nickName);
                        $("#akUid").html(data.akUid);
                        $("#sixConut").html(data.sixCount);
                        $("#fiveCount").html(data.fiveCount);
                        $("#fourCount").html(data.fourCount);
                        $("#threeCount").html(data.threeCount);
                        var sixRate = (data.sixRate * 100).toFixed(2);
                        $("#sixRate").html(sixRate);
                        var fiveRate = (data.fiveRate * 100).toFixed(2);
                        $("#fiveRate").html(fiveRate);
                        var fourRate = (data.fourRate * 100).toFixed(2);
                        $("#fourRate").html(fourRate);
                        var threeRate = (data.threeRate * 100).toFixed(2);
                        $("#threeRate").html(threeRate);
                        $("#totalCount").html(data.totalCount);
                        $("#grossIncome").html(data.grossIncome);
                        var grossExpenses = -data.grossExpenses;
                        $("#grossExpenses").html(grossExpenses);
                        var totalCost = (data.totalCost/100).toFixed(2);
                        $("#totalCost").html(totalCost);
                    }
                }
            })
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function (){
            getData()
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        function updateData(){
            $("#tokenUpdateSuccess").html("数据更新中...");
            var token = $("#token").val();
            $.ajax({
                type:'post',
                dataType:'json',
                contentType:'application/json',
                data:JSON.stringify({token:token}),
                url:'/user/api/arknights-statistics/general',
                success:function (data){
                    if (data!=null){
                        $("#tokenUpdateSuccess").html(data.updateResult);
                        getData();
                    }
                }
            })
        }
    </script>
    <style>
        .links:link,.links:visited {
            color: #00bfff;
            text-decoration: none;
            font-weight: bold;
        }
        .links:hover{
            color: #0099cc;
            text-decoration: none;
            font-weight: bold;
        }
        .links:active{
            color: #007399;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body style="background-color: #f3f3f3">
<div>
    <div style="margin: 12px 30px;">
        <a th:href="@{/user}" style="float: left;" class="links" >Home</a>
        <a th:href="@{/logout}" style="float: right;" class="links">Logout</a>
    </div>
</div>
<div align="center">
    <div><h3>明日方舟抽卡数据统计</h3></div>
    <div>
        <span>先去<a class="links" href="https://ak.hypergryph.com/">官网</a>登录，然后<a class="links" href="https://as.hypergryph.com/user/info/v1/token_by_cookie" target="_blank">点这里获取token</a></span>
    </div>
    <br><br>
    <div>
        <form action="">
            <label><input type="text" id="token" th:placeholder="在此输入token"></label>
            <div><span id="tokenUpdateSuccess"></span></div>
            <button type="button" onclick="updateData()">更新数据</button>
        </form>
        <br>
    </div>
    <div>
        <h4><span id="nickName"></span></h4>
        <h5>uid:<span id="akUid"></span></h5>
        <table>
            <tbody>
            <tr><td>六星数量：<span id="sixConut"></span></td></tr>
            <tr><td>五星数量：<span id="fiveCount"></span></td></tr>
            <tr><td>四星数量：<span id="fourCount"></span></td></tr>
            <tr><td>三星数量：<span id="threeCount"></span></td></tr>
            <tr><td>总数：<span id="totalCount"></span></td></tr>
            <tr><td><br></td></tr>
            <tr><td>六星占比：<span id="sixRate"></span>%</td></tr>
            <tr><td>五星占比：<span id="fiveRate"></span>%</td></tr>
            <tr><td>四星占比：<span id="fourRate"></span>%</td></tr>
            <tr><td>三星占比：<span id="threeRate"></span>%</td></tr>
            <tr><td><br></td></tr>
            <tr><td>源石收入：<span id="grossIncome"></span></td></tr>
            <tr><td>源石支出：<span id="grossExpenses"></span></td></tr>
            <tr><td><br></td></tr>
            <tr><td>氪金量：¥<span id="totalCost"></span></td></tr>
            </tbody>
        </table>
        <br><br><br><br><br><br>
        <div>
            <a class="links" th:href="@{/user/arknight-statistics/details}">"Click here for details"</a>
        </div>
    </div>
</div>
</body>
</html>