<!DOCTYPE html>
<html lang=zh-cmn-Hans xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>明日方舟抽卡数据统计</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        function getData(){
            $.ajax({
                type:'get',
                dataType:'json',
                url:'/user/api/ArknightsStatistics/getData',
                success:function (data){
                    if(data!=null){
                        $("#nickName").html(data.nickName);
                        $("#akUid").html(data.akUid);
                        $("#sixConut").html(data.sixCount);
                        $("#fiveCount").html(data.fiveCount);
                        $("#fourCount").html(data.fourCount);
                        $("#threeCount").html(data.threeCount);
                        var sixRate = data.sixRate * 100;
                        $("#sixRate").html(sixRate);
                        var fiveRate = data.fiveRate * 100;
                        $("#fiveRate").html(fiveRate);
                        var fourRate = data.fourRate * 100;
                        $("#fourRate").html(fourRate);
                        var threeRate = data.threeRate * 100;
                        $("#threeRate").html(threeRate);
                        $("#totalCount").html(data.totalCount);
                        $("#grossIncome").html(data.grossIncome);
                        var grossExpenses = -data.grossIncome;
                        $("#grossExpenses").html(grossExpenses);
                        var totalCost = (data.totalCost/10).toFixed(2);
                        $("#totalCost").html(totalCost);
                    }
                }
            })
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(getData());
    </script>
    <script type="text/javascript" th:inline="javascript">
        function updateData(){
            $("#tokenUpdateSuccess").html("数据更新中...");
            var token = $("#token").val();
            $.ajax({
                type:'get',
                dataType:'text',
                contentType:'text/plain',
                data:{token:token},
                url:'/user/api/ArknightsStatistics/updateData',
                success:function (data){
                    if (data!=null){
                        $("#tokenUpdateSuccess").html(data);
                        getData();
                    }
                }
            })
        }
    </script>
</head>
<body>
<div align="center">
    <div><h3>数据页面</h3></div>
    <div>
        <span>先去官网登录，然后<a href="https://as.hypergryph.com/user/info/v1/token_by_cookie" target="_blank">点这里获取token</a></span>
    </div>
    <br><br>
    <div>
        <form action="">
            <label><input type="text" id="token" th:placeholder="在此输入token"></label>
            <div><span id="tokenUpdateSuccess"></span></div>
            <button type="button" onclick="updateData()">更新数据</button>
        </form>
        <br>
    </div>
    <div>
        <h4><span id="nickName"></span></h4>
        <h5>uid:<span id="akUid"></span></h5>
        <table>
            <tbody>
            <tr><td>六星数量：<span id="sixConut"></span></td></tr>
            <tr><td>五星数量：<span id="fiveCount"></span></td></tr>
            <tr><td>四星数量：<span id="fourCount"></span></td></tr>
            <tr><td>三星数量：<span id="threeCount"></span></td></tr>
            <tr><td>总数：<span id="totalCount"></span></td></tr>
            <tr><td><br></td></tr>
            <tr><td>六星占比：<span id="sixRate"></span>%</td></tr>
            <tr><td>五星占比：<span id="fiveRate"></span>%</td></tr>
            <tr><td>四星占比：<span id="fourRate"></span>%</td></tr>
            <tr><td>三星占比：<span id="threeRate"></span>%</td></tr>
            <tr><td><br></td></tr>
            <tr><td>源石收入：<span id="grossIncome"></span></td></tr>
            <tr><td>源石支出：<span id="grossExpenses"></span></td></tr>
            <tr><td><br></td></tr>
            <tr><td>氪金量：<span id="totalCost"></span></td></tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>