<!DOCTYPE html>
<html lang=zh-cmn-Hans xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详细数据</title>
    <style>
        table{
            border: 1px solid #a1a1a1;
            border-collapse: collapse;
        }
        tr{
            border: 1px solid #a1a1a1;
            border-collapse: collapse;
        }
        td{
            border: 1px solid #a1a1a1;
            border-collapse: collapse;
            font-family: "Microsoft YaHei UI",sans-serif;
            font-weight: normal;
            text-align: left;
            padding: 8px 20px;
        }
        .sixRarity{
            color: #ff4000;
        }
        .fiveRarity{
            color: #ffbf00;
        }
        .fourRarity{
            color: #b983e7;
        }
        .threeRarity{
            color: #333333;
        }
    </style>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        function getData(url,operation) {
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: url,
                success: function (data) {
                    if (data != null) {
                        switch (operation){
                            case 1:gachaToTable(data);
                            break;
                            case 2:diamondToTable(data);
                            break;
                            case 3:orderToTable(data);
                            break;
                        }
                    }
                }
            })
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            $("#getGacha").click(function () {
                $("#resultThead").html('');
                $("#resultTbody").html('');
                getData('/user/api/arknights-statistics/gacha',1);

            })
            $("#getDiamond").click(function () {
                $("#resultThead").html('');
                $("#resultTbody").html('');
                getData('/user/api/arknights-statistics/diamond',2);

            })
            $("#getOrder").click(function () {
                $("#resultThead").html('');
                $("#resultTbody").html('');
                getData('/user/api/arknights-statistics/order',3);

            })
        })
    </script>
    <script type="text/javascript" th:inline="javascript">
        function gachaToTable(result){
            var headLine = $('<tr></tr>');
            headLine.append('<td>时间</td>');
            headLine.append('<td>卡池</td>');
            headLine.append('<td>干员</td>');
            $("#resultThead").append(headLine);
            for (var i = 0; i < result.length; i++) {
                var line;
                switch (result[i].rarity){
                    case 5:line=$('<tr class="sixRarity"></tr>');
                        break;
                    case 4:line=$('<tr class="fiveRarity"></tr>');
                        break;
                    case 3:line=$('<tr class="fourRarity"></tr>');
                        break;
                    case 2:line=$('<tr class="threeRarity"></tr>');
                        break;
                }
                line.append('<td>' + tsToTime(result[i].ts) + '</td>');
                line.append('<td>' + result[i].pool + '</td>');
                if(result[i].isNew === true){
                    line.append('<td>' + result[i].name + '[New]</td>');
                }else {
                    line.append('<td>' + result[i].name  + '</td>');
                }
                $("#resultTbody").append(line);
            }
        }
        function diamondToTable(result){
            var headLine = $('<tr></tr>');
            headLine.append('<td>时间</td>');
            headLine.append('<td>项目</td>');
            headLine.append('<td>平台</td>');
            headLine.append('<td>变更数量</td>');
            headLine.append('<td>剩余数量</td>');
            $("#resultThead").append(headLine);
            for (var i = 0; i < result.length; i++) {
                var line = $('<tr></tr>')
                line.append('<td>' + tsToTime(result[i].ts) + '</td>td>');
                line.append('<td>' + result[i].operation + '</td>');
                line.append('<td>' + result[i].platform + '</td>');
                line.append('<td>' + result[i].changeNum + '</td>');
                line.append('<td>' + result[i].currentNum + '</td>');
                $("#resultTbody").append(line)
            }
        }
        function orderToTable(result){
            var headLine = $('<tr></tr>');
            headLine.append('<td>交易编号</td>');
            headLine.append('<td>平台</td>');
            headLine.append('<td>金额</td>');
            headLine.append('<td>项目</td>');
            headLine.append('<td>时间</td>');
            $("#resultThead").append(headLine);
            for (var i = 0; i < result.length; i++) {
                var line = $('<tr></tr>')
                line.append('<td>' + result[i].orderId + '</td>');
                line.append('<td>' + result[i].platform + '</td>');
                line.append('<td>' + result[i].amount + '</td>');
                line.append('<td>' + result[i].productName + '</td>');
                line.append('<td>' + tsToTime(result[i].payTime) + '</td>');
                $("#resultTbody").append(line)
            }
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        function tsToTime(timestamp) {
            var date = new Date(timestamp * 1000);
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            var D = date.getDate() + ' ';
            var h = date.getHours() + ':';
            var m = date.getMinutes() + ':';
            var s = date.getSeconds();
            return Y+M+D+h+m+s;
        }
    </script>

</head>
<body>
<div>
    <div align="center">
        <button type="button" id="getGacha">寻访数据</button>&nbsp;
        <button type="button" id="getDiamond">源石数据</button>&nbsp;
        <button type="button" id="getOrder">氪金数据</button>
    </div>
    <br><br><br>
    <div align="center">
        <table>
            <thead id="resultThead"></thead>
            <tbody id="resultTbody"></tbody>
        </table>
    </div>
</div>
</body>
</html>