<!DOCTYPE html>
<html lang=zh-cmn-Hans xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .links:link,.links:visited {
            color: #00bfff;
            text-decoration: none;
            font-weight: bold;
        }
        .links:hover{
            color: #0099cc;
            text-decoration: none;
            font-weight: bold;
        }
        .links:active{
            color: #007399;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body style="background-color: #f3f3f3">
<div>
    <div style="margin: 12px 30px;">
        <a th:href="@{/admin}" style="float: left;" class="links">Manage</a>
        <a th:href="@{/logout}" style="float: right;" class="links">Logout</a>
    </div>
</div>
<div align="center">
    <br><br>
    <div><h3>用户主页</h3></div>
    <br><br><br>
    <div>
        <a th:href="@{/user/arknights-statistics}" class="links">明日方舟数据统计</a>
    </div>
</div>
</body>
</html>